.wrapper {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
.education {
	width: 600px;
	margin: 0 auto;
}

.classes {
	width: 600px;
	margin: 0 auto;
}

.work {
	width: 600px;
	margin: 0 auto;
}

img#lead {
	display: block;
	width: 600px;
	margin: 0 auto;
}